body {
    font-family: 'Special Elite', cursive;
    background-color: lightpink;
}

.header_div {
    background-color: white;
    color: red;
}

.header_div p {
    font-family: 'Special Elite', cursive;
    color: gray;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}

.main_div button {
    font-family: 'Special Elite', cursive;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}

.copy_right_footer {
    position: fixed;
    color: white;
    bottom: 0;
    width: 100%;
    font-size: 22px;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(151, 149, 149);
}